<h1>
  Edit podcast #<%= @podcast.id %>
</h1>

<hr>

<form action="/update_podcast/<%= @podcast.id %>" method="post">

  <div class="form-group">
    <label for="created_by">
      Created by
    </label>

    <input type="text" id="created_by" name="created_by" class="form-control" value="<%= @podcast.created_by %>">
  </div>

  <div class="form-group">
    <label for="logo">
      Logo
    </label>

    <input type="text" id="logo" name="logo" class="form-control" value="<%= @podcast.logo %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @podcast.title %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update podcast
  </button>
</form>

<hr>

<a href="/podcasts">
  Go back
</a>
