<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My podcasts
    </h1>

    <a href="/podcasts/new" class="btn btn-block btn-outline-secondary">
      Add a new podcast
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-lg-16">
    
    <div class="card-deck">
      <% cards = 0 %>
      <% @podcasts.order( :created_at => :desc ).each do |podcast| %>
      <% if cards % 3 == 0 %>
    </div>
    
  </div>
</div>
<div class="row mb-3">
  <div class="col-lg-16">
    
    <div class="card-deck">
      <% end %>
      <div class="card bg-dark text-white" style="max-width: 30%">
          <% if podcast.logo.file.nil? %>
          No image
          <% else %>
          <img class="card-img-top" src="<%= podcast.logo_url %>">
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= podcast.title %></h5>
          <p class="card-text small">Created by <%= User.find(podcast.created_by).username %> <%= time_ago_in_words(podcast.created_at) %> ago</p>
      
          <ul class="nav nav-pills card-footer-pills small">
            <li class="nav-item">
              <a class="nav-link" href="/podcasts/<%= podcast.id %>" class="btn btn-secondary btn-sm">Show details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/episodes/new/<%= podcast.id %>" class="btn btn-primary btn-sm">Add episode</a>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated <%= time_ago_in_words(podcast.updated_at) %></small>
        </div>
      </div>
      <% cards = cards + 1 %>
      <% end %>
    
    </div>
  </div>
</div>