<script>
  var imageList = Array();
  var a = [];
  var b = [];
  var c = 0;
</script>

<div class="row mb-3">
  <div class="col-md-16">
    <h1>
      Add placements to <%= @episode.title %>
    </h1>
    
    <hr>
    
    <div class="row mb-3">
      <div class="col-auto">
      <form action="/create_placement/<%= @episode.id %>" method="post">
        <label for="ad" class="sr-only"><b>Select Ad</b></label>
          <select id="adSelect" name="ad_id" onChange="setImage()" class="form-control custom-select bg-secondary text-white mb-2">
            <option selected>Select ad...</option>
            <script>
              imageList.push('');
            </script>
            <% Ad.all.order(:name => :asc).each do |thisad| %>
              <option value=<%= thisad.id %>><%= thisad.name %></option>
              <script>
                imageList.push('<%= thisad.image_url(:standard) %>');
              </script>
            <% end %>
          </select>
          
        <label for="start">Start Time</label>
        <div class="input-group mb-2">
          <div class="input-group-addon p-0">
            <button type="button" class="btn btn-secondary bg-secondary m-0" onclick="populateStartTime()">Set</button>
          </div>
          <input type="text" id="start" name="start" class="form-control bg-dark text-white" aria-describedby="basic-addon1">
        </div>
        
        <label for="end">End Time</label>
        <div class="input-group mb-2">
          <div class="input-group-addon p-0">
            <button class="btn btn-secondary m-0 bg-secondary" type="button" onclick="populateEndTime()">Set</button>
          </div>
          <input type="text" id="end" name="end" class="form-control bg-dark text-white" aria-describedby="basic-addon1">
        </div>
        
        <label>Position</label>
        <label for="posx" class="sr-only">X-position</label>
        <div class="input-group">
          <div class="input-group-addon bg-dark text-white">
            <span class="input-group-text m-1" id="xlabel">x</span>
          </div>          
          <input type="text" id="posx" name="posx" class="form-control bg-dark text-white" readonly value="0" aria-describedby="xlabel">
        </div>
          
        <label for="posy" class="sr-only">Y-position</label>
        <div class="input-group mb-3">
          <div class="input-group-addon bg-dark text-white">
            <span class="input-group-text m-1" id="ylabel">y</span>
          </div>
          <input type="text" id="posy" name="posy" class="form-control bg-dark text-white" readonly value="0" aria-describedby="ylabel">
        </div>
          
          <input type="hidden" id="width" name="width">
          <input type="hidden" id="height" name="height">
          
        <button class="btn btn-primary float-right">Place ad</button>
      </form>
      
      </div>
<!-- DRAG AND DROP CANVAS BEGIN -->
      
      <div class="col">
          <div id="container">
            <div class="konvajs-content" role="presentation" style="position: relative; user-select: none; width: 500px; height: 500px;">
              <canvas width="500" height="500" style="padding: 0px; margin: 0px; border: 0px; background: transparent; position: absolute; 
                                                      top: 0px; left: 0px; width: 500px; height: 500px; display: block;">
              </canvas>
            </div>
        </div>

  <!-- set logo url variable for js -->
        <script>
          var imgurl = '<%= Podcast.find(@episode.podcast_id).logo_url(:standard) %>';
          var adurl = '<%= Ad.all.order( :name => :asc ).first.image_url(:standard) %>';
        </script>

        <%= javascript_include_tag "fullcanvas" %>

        <audio id="player" controls>
          <source src="<%= @episode.audio_url %>" type="audio/mp3">
        </audio>
        <script>
          
        </script>
        <%= javascript_include_tag "audiofunctions" %>
        <div class="row mb-3">
          <div class="col">
            <input type="button" value="Set start time" onclick="populateStartTime()">
          </div>
          <div class="col">
            <input type="button" value="Set end time" onclick="populateEndTime()">
          </div>
        </div>
      </div>
      
<!-- DRAG AND DROP CANVAS END -->
    </div>
    
    <div class="row mb-3">
      <div class="col">
      <table>
      <tr>
        <th>Ad</th>
        <th></th>
        <th>Start Time</th>
        <th>End Time</th>
        <th></th>
      </tr>
      <% p = 0 %>
      <% @episode.placements.each do |placement| %>
        <tr>
          <td><%= Ad.find(placement.ad_id).name %></td>
          <td><%= image_tag(Ad.find(placement.ad_id).image_url(:thumbnail)) %></td>
          <td><%= placement.timestamp_start %></td>
          <td><%= placement.timestamp_end %></td>
          <td><a href="/delete_placement/<%= placement.id %>">Delete placement</a></td>
          <script>
            a[<%= p %>] = <%= placement.timestamp_start %>;
            b[<%= p %>] = <%= placement.timestamp_end %>;
            reBuild(<%= p %>, <%= placement.position_x %>, <%= placement.position_y %>, <%= placement.width %>, <%= placement.height %>, "<%= Ad.find(placement.ad_id).image_url(:standard) %>");

            player.on('timeupdate', function(event) {
              c = player.currentTime;
              if (c > a[<%= p %>] && c < b[<%= p %>]) {
                adShower(<%= p %>);
              } else if (c > b[<%= p %>]) {
                adHider(<%= p %>);
              }
            });
          </script>
        </tr>
      <% p += 1 %>
      <% end %>
      
    </table>
      </div>
    </div>

    
  </div>
</div>
<hr>

<a href="/episodes/<%= @episode.id %>">
  Go back
</a>
