<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All ads
    </h1>

    <a href="/ads/new" class="btn btn-block btn-outline-secondary">
      Add a new ad
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Name
        </th>

        <th>
          Image
        </th>
        
        <th>
          Dimensions
        </th>

        <th>
          Target url
        </th>
        
        <th>
          Created by
        </th>

        <th>
        </th>
      </tr>

      <% @ads.each do |ad| %>
      <tr>

        <td>
          <%= ad.name %>
        </td>

        <td>
          <%= image_tag(ad.image_url(:thumbnail)) %>
        </td>

        <td>
          <%= ad.width %> x <%= ad.height %>
        </td>
        
        <td>
          <%= ad.target_url %>
        </td>
        
        <td>
          <%= User.find(ad.created_by).username %> <%= time_ago_in_words(ad.created_at) %> ago
        </td>

        <td>
          <a href="/ads/<%= ad.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
