<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ad: <%= @ad.name %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/ads" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/ads/<%= @ad.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit ad
        </a>
      </div>

      <div class="col">
        <a href="/delete_ad/<%= @ad.id %>" class="btn btn-block btn-outline-secondary">
          Delete ad
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <% unless @ad.image_url.nil? %>
        <%= image_tag(@ad.image_url) %>
        <% end %>
      </dd>
      
      <dt>
        Name
      </dt>
      <dd>
        <%= @ad.name %>
      </dd>

      <dt>
        Dimensions
      </dt>
      <dd>
        <%= @ad.width %> x <%= @ad.height %>
      </dd>

      <dt>
        Target URL
      </dt>
      <dd>
        <%= @ad.target_url %>
      </dd>
      
      <dt>
        Created by
      </dt>
      <dd>
        <%= @ad.created_by %> <%= time_ago_in_words(@ad.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@ad.updated_at) %> ago
      </dd>
    </dl>
    
    <h1>Ad Placements</h1>
      <table>
        <tr>
          <th>ID</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Episode</th>
          <th></th>
          <th></th>
        </tr>
        <% @placements.each do |placement| %>
        <tr>
          <td><a href="/placements/<%= placement.id %>"><b><%= placement.id %></b></a></td>
          <td><%= placement.timestamp_start %></td>
          <td><%= placement.timestamp_end %></td>
          <td><%= placement.ad_id %></td>
          <td>Created <%= time_ago_in_words(placement.created_at) %> ago </br> by <%= User.find(placement.created_by).username %></td>
          <td><a href="/placements/<%= placement.id %>" class="btn btn-block btn-outline-primary">Show details</a></td>
          
        </tr>
        <% end %>
      </table>
  </div>
</div>

