<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    
    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Connect PLYR js and css -->
    <script src="https://cdn.plyr.io/3.5.3/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.3/plyr.css" />
    
    <!-- connecting konva for canvas work -->
    <script src="https://unpkg.com/konva@3.2.7/konva.min.js"></script>
    
    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link rel="stylesheet" href="/dark.css">
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">storyboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/podcasts">podcasts</a>
      <a class="nav-item nav-link" href="/episodes">episodes</a>
      <a class="nav-item nav-link" href="/ads">ads</a>
      <a class="nav-item nav-link" href="/placements">placements</a>
      <a class="nav-item nav-link disabled">permissions</a>
      <a class="nav-item nav-link disabled">about</a>

      <% if current_user.blank? %>
        <a class="nav-item nav-link" href="/users/sign_in">
          Sign in
        </a>
        <a class="nav-item nav-link" href="/users/sign_up">
          Sign up
        </a>
      <% else %>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %>         
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/users/edit">Update my details</a>
            <a class="dropdown-item" href="/users/sign_out" data-method="delete">Sign out</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
    
    <%= yield %>

    <%= dev_tools if Rails.env.development? %>
  </body>
</html>