<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My episodes
    </h1>
    Add new episodes via the details page of a podcast
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Title
        </th>

        <th></th>

        <th>
          Podcast
        </th>

        <th>
          Description
        </th>

        <th></th>
      </tr>

      <% @episodes.order( :created_at => :desc ).each do |episode| %>
      <% podcast = Podcast.find(episode.podcast_id) %>
      <tr>

        <td>
          <a href="/episodes/<%= episode.id %>" ><%= episode.title %></a> <span class="badge badge-pill badge-light mx-1"><%= episode.placements.count %> ads</span>
        </td>

        <td>
          <%= image_tag(podcast.logo_url(:thumbnail), :width => 50, :height => 50) %><a href="/podcasts/<%= podcast.id %>"</a>
        </td>

        <td>
          <a href="/podcasts/<%= podcast.id %>" ><%= podcast.title %></a>
        </td>
        
        <td>
          <small><%= episode.description %></br>
          <%= User.find(episode.created_by).username %>, <%= time_ago_in_words(episode.created_at) %> ago </small>
        </td>

        <td>
          <a href="/episodes/<%= episode.id %>" class="btn btn-block btn-outline-secondary btn-sm">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
