<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Episode #<%= @episode.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/episodes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/episodes/<%= @episode.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit episode
        </a>
      </div>

      <div class="col">
        <a href="/delete_episode/<%= @episode.id %>" class="btn btn-block btn-outline-secondary">
          Delete episode
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @episode.title %>
      </dd>

      <dt>
        Podcast
      </dt>
      <dd>
        <a href="/podcasts/<%= @podcast.id %>"<a><%= image_tag(@podcast.logo_url(:thumbnail), :width => 50, :height => 50) %> <%= @podcast.title %></a>
      </dd>

      <dt>
        Audio
      </dt>
      <dd>
        <audio id="player" controls>
          <source src="<%= @episode.audio_url %>" type="audio/mp3">
        </audio>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @episode.description %>
      </dd>
      <dt>System info</dt>
      <dd>
        Created by <%= User.find(@episode.created_by).username %> <%= time_ago_in_words(@episode.created_at) %> ago
      </dd>
      <dd>
        Updated <%= time_ago_in_words(@episode.updated_at) %> ago
      </dd>
    </dl>
    
    <h1>Ad Placements</h1>
    <a href="/placements/new/<%= @episode.id %>" class="btn btn-block btn-outline-secondary">
      Add a new ad placement
    </a>
    
      <table>
        <tr>
          <th>ID</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Ad</th>
          <th></th>
          <th></th>
        </tr>
        <% @placements.each do |placement| %>
        <tr>
          <td><a href="/placements/<%= placement.id %>"><b><%= placement.id %></b></a></td>
          <td><%= placement.timestamp_start %></td>
          <td><%= placement.timestamp_end %></td>
          <td><%= placement.ad_id %></td>
          <td>Created <%= time_ago_in_words(placement.created_at) %> ago </br> by <%= User.find(placement.created_by).username %></td>
          <td><a href="/placements/<%= placement.id %>" class="btn btn-block btn-outline-primary">Show details</a></td>
          
        </tr>
        <% end %>
      </table>
  </div>
</div>

